.cart {
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
}
.cart-title {
    font-size: 25px;
    margin-bottom: 50px;
    font-weight: 800;
}
.cart p {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 600;
}
.grand-total {
    font-size: 21px;
    margin-bottom: 50px;
}